body.page-id-272 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/prices-payment.png') center no-repeat
}
body.page-id-378 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/st-ives-leisure-centre.png') center no-repeat
}
body.page-id-9 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/sports-massage.png') center no-repeat
}
body.page-id-133 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/testimonials.png') center no-repeat
}
body.page-id-22 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/contact-page.png') center no-repeat
} 
body.page-id-24 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/ben-donaldson.png') center no-repeat
}
body.page-id-26 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/qualifications.png') center no-repeat
}
body.page-id-227 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/kinesiology-taping.png') center no-repeat
}
body.blog .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/blognews-page.png') center no-repeat
}
body.page-id-170 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/ultrasound.png') center no-repeat
}
body.page-id-352 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/penzance-health-suite.png') center no-repeat
}
body.page-id-400 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/carbis-bay.png') center no-repeat
}
body.page-id-762 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/products.png') center no-repeat
}
body.page-id-447 .site-header a+a img {
  background: url('//bendonaldsonsportsmassage.files.wordpress.com/2016/04/downloadable-forms.png') center no-repeat
}

@media only screen {
  body.page-id-762 .site-header a+a img,
  body.page-id-400 .site-header a+a img,
  body.page-id-227 .site-header a+a img,
  body.page-id-352 .site-header a+a img,
  body.page-id-170 .site-header a+a img,
  body.blog .site-header a+a img,
  body.page-id-26 .site-header a+a img,
  body.page-id-272 .site-header a+a img,
  body.page-id-378 .site-header a+a img,
  body.page-id-9 .site-header a+a img,
  body.page-id-133 .site-header a+a img,
  body.page-id-22 .site-header a+a img, 
  body.page-id-24 .site-header a+a img {
    height: 410px
  }
}

@media only screen and (max-width: 800px) {
  body.page-id-762 .site-header a+a img,
  body.page-id-400 .site-header a+a img,
  body.page-id-227 .site-header a+a img,
  body.page-id-352 .site-header a+a img,
  body.page-id-170 .site-header a+a img,
  body.blog .site-header a+a img,
  body.page-id-26 .site-header a+a img,
  body.page-id-272 .site-header a+a img,
  body.page-id-378 .site-header a+a img,
  body.page-id-9 .site-header a+a img,
  body.page-id-133 .site-header a+a img,
  body.page-id-22 .site-header a+a img, 
  body.page-id-24 .site-header a+a img {
    height: 310px
  }
}

@media only screen and (max-width: 400px) {
  body.page-id-762 .site-header a+a img,
  body.page-id-400 .site-header a+a img,
  body.page-id-227 .site-header a+a img,
  body.page-id-352 .site-header a+a img,
  body.page-id-170 .site-header a+a img,
  body.blog .site-header a+a img,
  body.page-id-26 .site-header a+a img,
  body.page-id-272 .site-header a+a img,
  body.page-id-378 .site-header a+a img,
  body.page-id-9 .site-header a+a img,
  body.page-id-133 .site-header a+a img,
  body.page-id-22 .site-header a+a img, 
  body.page-id-24 .site-header a+a img {
    height: 150px
  }
}

@media only screen and (max-width: 300px) {
  body.page-id-762 .site-header a+a img,
  body.page-id-400 .site-header a+a img,
  body.page-id-227 .site-header a+a img,
  body.page-id-352 .site-header a+a img,
  body.page-id-170 .site-header a+a img,
  body.blog .site-header a+a img,
  body.page-id-26 .site-header a+a img,
  body.page-id-272 .site-header a+a img,
  body.page-id-378 .site-header a+a img,
  body.page-id-9 .site-header a+a img,
  body.page-id-133 .site-header a+a img,
  body.page-id-22 .site-header a+a img, 
  body.page-id-24 .site-header a+a img {
    height: 120px
  }
}

body.page-id-762 .site-header a+a img,
body.page-id-400 .site-header a+a img,
body.page-id-227 .site-header a+a img,
body.page-id-352 .site-header a+a img,
body.page-id-170 .site-header a+a img,
body.blog .site-header a+a img,
body.page-id-26 .site-header a+a img,
body.page-id-272 .site-header a+a img,
body.page-id-378 .site-header a+a img,
body.page-id-9 .site-header a+a img,
body.page-id-133 .site-header a+a img,
body.page-id-22 .site-header a+a img, 
body.page-id-24 .site-header a+a img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
